:root {
  --title-text-color: #2e2f42;
  --primary-text-color: #434455;
  --secondary-text-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --exception-color: #f4f4fd;
  --accent-color: #4d5ae5;
}

/* Незмінні частини сторінок та основні властивості */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  color: var(--title-text-color);
  background-color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.header {
  background-color: var(--secondary-text-color);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Logo */

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-right: 72px;
  display: block;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio-header {
  color: var(--title-text-color);
}

.logo-studio-footer {
  color: var(--exception-color);
}

/* Nav */

.header > .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--primary-text-color);
}

.link-nav:active {
  color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 40px;
}

.link-contact {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer > .logo {
  margin-bottom: 16px;
}

.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
}

/* PRIMARY PAGE */

/* Hero */

.hero {
  background-color: var(--title-text-color);
  padding-top: 192px;
  padding-bottom: 192px;
  text-align: center;
}

.hero-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;

  width: 495px;

  margin: auto;
  margin-bottom: 48px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  border: 1px solid transparent;
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;

  border-radius: 4px;
  min-width: 168px;
  height: 51px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

/* About Company */

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-list {
  display: flex;
  gap: 24px;
}

.about-item {
  width: calc((100% - 72px) / 4);
}
.about-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.about-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

/* What are we doing */

.benefits {
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 48px) / 3);
}

.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  margin-bottom: 72px;
}

/* Our Team */

.team {
  background-color: var(--exception-color);

  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  margin-bottom: 72px;
}

.team-item {
  background-color: var(--secondary-text-color);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}

.team-list {
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}

.team-img {
  margin-bottom: 32px;
}

.team-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  margin-bottom: 8px;
}

.team-desk {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* PORTFOLIO */

/* Menu */

.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter {
  margin-bottom: 72px;

  display: flex;
  gap: 24px;
  justify-content: center;
}

.filter-button {
  color: var(--accent-color);
  background-color: var(--exception-color);

  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #e7e9fc;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

/* Card */
.card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  width: calc((100% - 48) / 3);
  column-gap: 24px;
}

.card-div {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-left: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
  border-bottom: 0.5px solid #f4f4fd;
}
.card-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 8px;
}

.card-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.5;
}

.card-link {
  text-decoration: none;
}
